<%- model_class = User -%>
<div class="page-header">
  <h1>User</h1>
  <div class="container">
    <h2>Friends</h2>

    <h2>Add Friend</h2>
    <%= form_for @user_friendship, :url => user_friendship_path(@user_friendship) do |f| %>
      <p>
        <%= f.label :friend_email %><br />
        <%= f.text_field :friend_email %><br />
      </p>
      <p class="button"><%= f.submit %></p>
    <% end %>
  </div>
</div>
